{% extends "layout.html"%}
{% block content%}
<section style="background-color: #000000; color: #f1c40f; padding: 5px; padding-top: 5rem;" class="p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1 class="mb-10">DataMind<span class="text-warning"> </span></h1>
                <p class="lead my-4">
                    Let's start to learn Computer Science Courses<br> by DataMind
                </p>
             

            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="{{url_for('static', filename='home3.jpg')}}" alt="">
        </div>
    </div>
</section>
<!-- Social Media -->
<section style="background-color: #046cf5; color: #f1c40f; padding: 12px;">
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <h3 class="mb-3 text-center">Follow Me on <i class="bi bi-arrow-right-square-fill"></i> </h3>
            <nav class="navbar navbar-expand-lg navbar-dark">
                <button class="navbar-toggler border" type="button" data-bs-toggle="collapse"
                    data-bs-target="#socialbtn">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="socialbtn">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="btn btn-dark ms-5 button_width" href=""
                                target="_blank">
                                <i class="bi-github" role="img"></i>
                                GitHub
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-dark ms-5 button_width" 
                                target="_blank">
                                <i class="bi bi-facebook "></i>
                                Facebook
                            </a>
                        </li>
                        <li class="nav-item">
                            <a type="button" class="btn btn-dark ms-5 button_width"
                                 target="_blank">
                                <i class="bi bi-instagram"></i>
                                Instagram
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="btn btn-dark ms-5 button_width" 
                                target="_blank">
                                <i class="bi bi-twitter"></i>
                                Twitter
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="btn btn-dark ms-5 button_width" 
                                target="_blank">
                                <i class="bi bi-tiktok"></i>
                                TikTok
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    </div>
    </div>
</section>
<!-- Courses -->
<section class="bg-ligh">
    <div class="container p-5">
        <h2 class="text-center text-secondary" id='learn'>Courses</h2>
        <div class="row">
            {% for course in courses %}
            <div class="col-sm-12 col-md-6 col-lg-4 p-3 d-flex align-items-stretch">
                <a href="#course_name" class="text-decoration-none">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="{{url_for('static', filename=course.icon)}}" alt="" class="card-img w-25">
                            <h4 class="card-title mb-4">
                                {{course.name}}
                            </h4>
                            <p class="card-text">{{course.description}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- News -->
<section style="background-color: #000000; color: #000000; padding: 12px;">
    <div class="container p-5">
        <div class="row mb-5 ">
            <div class="col">
                <h3 class="text-uppercase text-center text-light">latest News from the real World</h3>
            </div>
        </div>
        <div class="row">
            {% for News in News %}
            <div class="col-sm-12 col-md-6 col-lg-4 pb-5 d-flex align-items-stretch">
                <div class="card lesson">
                    <img src="{{url_for('static', filename=News.backgr)}}" class="card-img">                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">
                            <a class="text-decoration-none text-dark" href="#">{{News.title}}</a>
                        </h5>
                        <p class="card-text mb-0"><i class="bi bi-pen-fill"></i> 
                            <a class="text-decoration-none" href="#">{{News.course}}</a>
                        </p>
                        <span><i class="bi bi-person-fill"></i><a class="article-img" alt=""></a>  <a
                            href="#" class="link">{{News.author}}</a></span>

                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>


{% endblock content%}